<?php

/*
 * database_host: database host, usually it's "127.0.0.1" or "localhost", some servers also need port info
 * database_name: name of the database. please note: database and database table are not the same thing
 * database_user: user for your database. the user needs to have rights for SELECT, UPDATE, DELETE and INSERT.
 * database_password: the password of the above user
 */

// Create connection
$conn = new mysqli("database_host", "database_user", "database_password", "database_name");

