<?php

/*
 * database_host: database host, usually it's "127.0.0.1" or "localhost", some servers also need port info
 * database_name: name of the database. please note: database and database table are not the same thing
 * database_user: user for your database. the user needs to have rights for SELECT, UPDATE, DELETE and INSERT.
 * database_password: the password of the above user
 */
 
if (!defined('DB_HOST')) { //only define again if it isn't defined
    define("DB_HOST", "127.0.0.1");
    define("DB_NAME", "login");
    define("DB_USER", "root");
    define("DB_PASS", "mysql");
}

// Create connection
$conn = new mysqli(DB_HOST, DB_USER, DB_PASS, DB_NAME);
